/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
     
}

/* utilities*/

.container {
    max-width: 1024px; 
    margin: auto;
    padding: 0rem 2rem;
    overflow: hidden;
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    padding: 0.8rem 0rem;
}

h2, h3, h4 {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1rem;
    text-align: center;
    position: relative;
    border: none;
    font-size: 0.9rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn-dark {
    background: #333;
    color: white;
}

.btn-main {
    background: #f7c08a;
    color: #333;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.text-main {
    color:  #f7c08a;
}

.lead {
    line-height: 1.7;
    font-size: 0.8rem;
}

.bg-dark {background: #333;}
.bg-main {background:r #f7c08a;}
.bg-light {background:white;}

/* Header */

.nav h2 {
    float: left;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.nav {
    text-align: right;
    line-height: 50px;
    height: 50px;
    background: #333;
}

.menu a {
    text-decoration: none;
    margin: auto;
    padding: 1rem 1rem;
    color: white;
    display: inline;
    overflow: hidden;
}

.menu .current {
    background: #444;
    color: #f7c08a;
}

.menu a:hover {
    background: #444;
    color: #f7c08a
}

.nav label {
    margin: 0rem 1rem 0rem 0rem;
    font-size: 1.8rem;
    line-height: 50px;
    display: none;
    cursor: pointer;
    color: white;
}

#toggle {
    display: none;
    cursor: pointer;
}


/* Showcase*/

#showcase {
    background: url(/images/showcase.jpg) no-repeat center center / cover;
    height: 500px;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#showcase .showcase-content {
    text-align: center;
    color: white;
}

#showcase .showcase-content h1 {
    font-size: 3rem;
}

#showcase .showcase-content a:hover {
    background: #f7c08a;
    color: #333;
    transition: all 1s ease-out;
}

/* Home info */

#home-info {
    display: flex;
    justify-content: center;
    
}

#home-info img{
  width: 100%;
  height: 100%;
}

#home-info .info-content { 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    color: white;
    padding: 4rem 2rem;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

#home-info .info-content a:hover {
    background: #f7c08a;
    color: #333;
    transition: all 1s;
}

/* Features */

#features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.box {
    padding: 4rem;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.box:nth-child(2) {
    background: #f7c08a;
}

.box i {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.box h3 {
    font-size: 1rem;
}
 .box p {
     font-size: 0.8rem;
 }

 /* About Page */

.about-page {
    display: flex;
    overflow: hidden;
    padding: 2rem 0rem;
}

.about-img {
    text-align: center;
    margin: auto;
}

.about-img img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin: auto;
} 

/* Testimonials */

#testimonials {
    background: url(/images/test-bg.jpg) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    min-height: 100vh;
    
}

#testimonials h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.9;
    padding: 1rem;
}

.testimonial-1 {
    display: flex;
    background: #f7c08a;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 5px;
}

.testimonial-2 {
    display: flex;
    background: #f7c08a;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 5px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 0.5rem;
}


/* Contact Form */

#contact-form {
    min-height: 100vh;
}

#contact-form h2 {
    margin-top: 1rem;
}

form .form-group {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px #ddd solid; 
}

form textarea {
    border-radius: 5px;
    border: 1px #ddd solid;
    padding: 0.5rem 0.5rem;
}

form button {
    text-align: center;
    align-items: center;
}

form input:focus, form textarea:focus, button:focus {
    border: 1px #f7c08a solid;
    outline: none;
}
form button:hover {
    background: #f7c08a;
    color: #333;
    transition: all 0.5s;
}


 /* Footer */

 footer {
     background: #333;
     color: white;
     text-align: center;
     font-size: 0.7rem;
     padding: 0.5rem 0rem;
     overflow: hidden;
 }














